{{- if .Values.ingress.enabled -}}
{{- $fullName := include "kstatus.fullname" . -}}
{{- $ingressPath := .Values.ingress.path -}}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    app: {{ include "kstatus.name" . }}
    chart: {{ include "kstatus.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
{{- with .Values.ingress.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
spec:
{{- if .Values.ingress.tls }}
  tls:
  {{- range .Values.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            backend:
              serviceName: "{{ include "kstatus.fullname" . }}-ui"
              servicePort: http
          - path: /api
            backend:
              serviceName: "{{ include "kstatus.fullname" . }}-api"
              servicePort: http
  
{{- end }}
